body {
  width: 1440px;
  font-family: 'Montserrat';
  font-style: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
}

.header .header__logo {
  margin-left: 160px;
  margin-top: 8px;
  height: 44.6875px;
  width: 220px;
}

.header .header__phoneNumber {
  margin-left: 327px;
  margin-top: 28px;
  width: 187px;
}

.header .header__phoneNumber a {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

.header .header__phoneNumber a div {
  margin-top: -26px;
  margin-left: 32px;
}

.header .header__buttons {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.header .header__buttons .header__writeUs,
.header .header__buttons .header__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  height: 46px;
  width: 176px;
  color: #ffff;
  background-color: #098FCF;
  border: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.header .header__buttons .header__writeUs div,
.header .header__buttons .header__personal div {
  margin-left: 13px;
}

.nav {
  height: 60px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a:nth-child(1) {
  margin-left: 158px;
}

.nav a img {
  margin-left: 10px;
}

.main__delivery {
  height: 586px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__delivery h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 90px;
  margin-left: 160px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main__delivery form {
  margin-top: 48px;
  margin-left: 160px;
  width: 1120px;
  height: 289px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.main__delivery form .main__order {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding-top: 49px;
  margin-left: 96px;
}

.main__delivery form .main__order span {
  color: #098FCF;
}

.main__delivery form .main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 82px;
  margin-top: 30px;
}

.main__delivery form .main__form div {
  margin-left: 14px;
}

.main__delivery form .main__form div label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-left: -15px;
}

.main__delivery form .main__form div input {
  height: 46px;
  width: 273px;
  text-indent: 15px;
  border: 1px solid #D4D4D4;
  margin-top: 8px;
}

.main__delivery form .main__form button {
  background-color: #098FCF;
  border: none;
  height: 52px;
  width: 258px;
  margin-left: 14px;
  margin-top: 25px;
}

.main__delivery form .main__agreement {
  margin-left: 96px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__delivery form .main__agreement .main__checkbox {
  height: 24px;
  width: 24px;
  border: 1px solid #D4D4D4;
}

.main__delivery form .main__agreement span {
  margin-left: 16px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main__prices {
  height: 1009px;
}

.main__prices h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-left: 160px;
}

.main__prices table {
  width: 80%;
  margin-left: 160px;
  margin-top: 48px;
  width: 1120px;
}

.main__prices table thead {
  background-color: #043C77;
  color: #FFFFFF;
  height: 56px;
}

.main__prices table thead th {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 21px;
  padding-left: 20px;
}

.main__prices table tbody {
  padding-top: 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.main__prices table tbody .blueColumn {
  background-color: #098FCF;
  width: 163px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding-top: 16px;
  padding-left: 20px;
}

.main__prices table tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
}

.main__prices table tbody .fuelClass {
  width: 286px;
  border-right: 1px solid lightgray;
}

.main__prices table tbody .calculation {
  border-right: 1px solid lightgray;
}

.main__fuelDelivery {
  height: 666px;
  background-color: #F9F9F9;
  margin-top: 0px;
}

.main__fuelDelivery h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-left: 159px;
  padding-top: 74px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.main__fuelDelivery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__fuelDelivery-content .fuelDelivery__contentLeft {
  margin-left: 159px;
}

.main__fuelDelivery-content .fuelDelivery__contentLeft-label {
  margin-top: 16px;
}

.main__fuelDelivery-content .fuelDelivery__contentLeft-label label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.main__fuelDelivery-content .fuelDelivery__contentLeft input {
  height: 46px;
  width: 409px;
  border: 1px solid #D4D4D4;
  font-weight: 500;
  font-size: 12px;
  text-indent: 15px;
  margin-top: 8px;
}

.main__fuelDelivery-content .fuelDelivery__contentRight {
  height: 441px;
  width: 638px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  margin-left: 71px;
  margin-top: 34px;
  padding-top: 40px;
  padding-left: 40px;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__fuelDelivery-content .fuelDelivery__contentRight-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 558px;
  border-top: 1px solid #E7E7E7;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main__fuelDelivery-content .fuelDelivery__contentRight-title {
  font-weight: 400;
  font-size: 16px;
}

.main__fuelDelivery-content .fuelDelivery__contentRight-description {
  width: 346px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 10px;
}

.main__fuelDelivery-content .fuelDelivery__contentRight span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.main__fuelDelivery-content .fuelDelivery__contentRight button {
  background-color: #098FCF;
  height: 46px;
  width: 258px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-top: 25px;
}

.main__weWorks {
  height: 686px;
  margin-left: 160px;
  color: #FFFFFF;
}

.main__weWorks .main__weWorks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -31px;
}

.main__weWorks h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.main__weWorks-section {
  height: 394px;
  width: 353px;
  background-color: #043C77;
  margin-top: 48px;
  margin-left: 31px;
}

.main__weWorks-sectionTopBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.main__weWorks-sectionBottomBlock {
  width: 283px;
  margin-left: 30px;
  margin-top: 30px;
}

.main__weWorks-sectionBottomBlock p {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
}

.main__weWorks-sectionBottomBlock span {
  font-weight: 400;
  font-size: 16px;
}

.main__weWorks-sectionBottomBlock p:nth-child(3) {
  font-size: 12px;
  line-height: 16.8px;
}

.main__serviceBenefits {
  height: 550px;
  background-color: #F9F9F9;
}

.main__serviceBenefits h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-left: 159px;
  padding-top: 80px;
}

.main__serviceBenefits-cards {
  margin-left: 159px;
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 353px 353px 353px;
      grid-template-columns: 353px 353px 353px;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.main__serviceBenefits-card {
  height: 138px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__serviceBenefits-card img {
  height: 48px;
}

.main__serviceBenefits-card p {
  width: 246px;
}

.main__serviceBenefits-card p:first-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.main__serviceBenefits-card div {
  margin-left: 25px;
  margin-top: -15px;
}

.main__certificates {
  height: 649px;
}

.main__certificates h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-left: 159px;
  padding-top: 100px;
}

.main__certificates-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1135px;
}

.main__certificates-arrows img {
  margin-left: 15px;
  margin-top: -70px;
}

.main__certificates-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 128px;
  margin-top: 48px;
}

.main__certificates-certificate {
  width: 257px;
  height: 357px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  margin-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__partners {
  height: 478px;
}

.main__partners h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-left: 160px;
  padding-top: 100px;
}

.main__partners-logo {
  margin-left: 45px;
}

.main__partners-logo img {
  margin-left: 115px;
}

.main__partners-logo div {
  border-bottom: 1px solid #E7E7E7;
  width: 1129px;
  margin-left: 115px;
  margin-top: 56px;
}

.main__partners-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
}

.main__partners-buttons button {
  height: 4px;
  width: 4px;
  background-color: #D5D5D5;
  border-radius: 50%;
  border: none;
  padding: 0px;
  margin-left: 46px;
}

.main__partners-buttons button:first-child {
  background-color: #098FCF;
  height: 8px;
  width: 8px;
}

.main__reviews {
  height: 722px;
  background-color: #F9F9F9;
}

.main__reviews h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-left: 159px;
  padding-top: 86px;
}

.main__reviews-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
}

.main__reviews-card {
  height: 368px;
  width: 545px;
  background-color: #FFFFFF;
  margin-left: 30px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__reviews-card p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #565656;
  width: 246px;
}

.main__reviews-card p:first-child {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: black;
  margin: 0px;
}

.main__reviews-card span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 465px;
  margin-top: 40px;
  display: block;
}

.main__reviews-card div {
  border: 1px solid red;
}

.main__reviews-card a {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
  color: #098FCF;
}

.main__reviews-readAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 44px;
}

.main__reviews-readAll button {
  background-color: #098FCF;
  color: #FFFFFF;
  height: 46px;
  width: 258px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.main__questions {
  height: 383px;
  padding-bottom: 80px;
  padding-top: 80px;
  background-color: #043C77;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__questions h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.main__questions .main__questions-inputs {
  margin-top: 30px;
  width: 1000px;
}

.main__questions div {
  width: 555px;
  font-size: 13px;
  text-align: center;
}

.main__questions input {
  width: 272px;
  height: 42px;
  text-indent: 12px;
  margin-left: 30px;
}

.main__questions button {
  background-color: #098FCF;
  color: #FFFFFF;
  height: 46px;
  width: 258px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 30px;
}

.main__questions span {
  width: 1000px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
}

.main__questions span a {
  color: #FFFFFF;
}

.footer {
  height: 308px;
}

.footer__topBlock {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F9F9;
}

.footer__topBlock-logo {
  margin-left: 160px;
  padding-top: 50px;
}

.footer__topBlock-logo div {
  margin-top: 20px;
  color: gray;
}

.footer__topBlock-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  margin-top: 55px;
}

.footer__topBlock-navBlock {
  margin-left: 100px;
}

.footer__topBlock-navBlock a {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.footer__topBlock-contacts {
  margin-left: 200px;
  margin-top: 55px;
}

.footer__topBlock-contacts div {
  color: #098FCF;
  font-size: 20px;
  font-weight: 700;
}

.footer__topBlock-contacts div:first-child {
  font-size: 15px;
  line-height: 18px;
  padding-left: 60px;
  color: black;
}

.footer__bottomBlock {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottomBlock div {
  margin-left: 160px;
}
/*# sourceMappingURL=main.css.map */