$blue: #098FCF;
$gray: #F9F9F9;

body {
    width: 1440px;
    font-family: 'Montserrat';
    font-style: normal;
}

.header {
    display: flex;
    height: 78px;

    .header__logo {
        margin-left: 160px;
        margin-top: 8px;
        height: 44.6875px;
        width: 220px;
    }

    .header__phoneNumber {
        margin-left: 327px;
        margin-top: 28px;
        width: 187px;

        a {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-decoration: none;
            color: black;

            div {
                margin-top: -26px;
                margin-left: 32px;
            }
        }
    }

    .header__buttons {

        margin-left: 35px;
        display: flex;
        margin-top: 16px;

        .header__writeUs,
        .header__personal {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            height: 46px;
            width: 176px;
            color: #ffff;
            background-color: $blue;
            border: none;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;

            div {
                margin-left: 13px;
            }
        }
    }


}

.nav {
    height: 60px;
    background-color: $gray;
    display: flex;
    align-items: center;

    a {
        margin-left: 40px;
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        display: flex;

        &:nth-child(1) {
            margin-left: 158px;
        }

        img {
            margin-left: 10px;
        }
    }

}

.main__delivery {
    height: 586px;
    box-sizing: border-box;

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-top: 90px;
        margin-left: 160px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    form {
        margin-top: 48px;
        margin-left: 160px;
        width: 1120px;
        height: 289px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    }

    &-order {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        padding-top: 49px;
        margin-left: 96px;

        span {
            color: $blue;
        }
    }

    &-form {
        display: flex;
        margin-left: 82px;
        margin-top: 30px;

        div {
            margin-left: 14px;

            label {
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                margin-left: -15px;
            }

            input {
                height: 46px;
                width: 273px;
                text-indent: 15px;
                border: 1px solid #D4D4D4;
                margin-top: 8px;
                outline: 0;
            }
        }

        button {
            background-color: $blue;
            border: none;
            height: 46px;
            width: 258px;
            margin-left: 14px;
            margin-top: 32px;
        }
    }

    &-agreement {
        margin-left: 96px;
        margin-top: 30px;
        display: flex;

        span {
            margin-left: 16px;
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &-checkbox {
        height: 24px;
        width: 24px;
        border: 1px solid #D4D4D4;
    }
}

.main__prices {
    height: 1009px;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-left: 160px;
    }

    table {
        width: 80%;
        margin-left: 160px;
        margin-top: 48px;
        width: 1120px;

        thead {
            background-color: #043C77;
            color: #FFFFFF;
            height: 56px;

            th {
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                padding-bottom: 21px;
                padding-left: 20px;
            }
        }

        tbody {
            padding-top: 20px;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;

            .blueColumn {
                background-color: $blue;
                width: 163px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                padding-top: 16px;
                padding-left: 20px;
            }

            td {
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 30px;
            }

            .fuelClass {
                width: 286px;
                border-right: 1px solid lightgray;
            }

            .calculation {
                border-right: 1px solid lightgray;
            }
        }
    }

}

.main__fuelDelivery {
    height: 666px;
    background-color: $gray;
    margin-top: 0px;

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-left: 159px;
        padding-top: 74px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    &-content {
        display: flex;

        .fuelDelivery__contentLeft {
            margin-left: 159px;

            &-label {
                margin-top: 16px;

                label {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            input {
                height: 46px;
                width: 409px;
                border: 1px solid #D4D4D4;
                font-weight: 500;
                font-size: 12px;
                text-indent: 15px;
                margin-top: 8px;
            }

            &-slidecontainer {
                margin-top: -17px;
            }

            .fuelDelivery__contentLeft-inputSlider {
                height: 1px;
            }

            &-fuelType,
            &-fuelVolume {
                border: 1px solid #D4D4D4;
                background-color: #FFFFFF;
                height: 46px;
                width: 409px;
                margin-top: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 15px;
                padding-right: 20px;
            }
        }

        .fuelDelivery__contentRight {
            height: 441px;
            width: 638px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            margin-left: 71px;
            margin-top: 34px;
            padding-top: 40px;
            padding-left: 40px;
            background-color: #FFFFFF;
            box-sizing: border-box;

            &-section {
                display: flex;
                justify-content: space-between;
                width: 558px;
                border-top: 1px solid #E7E7E7;
                padding-top: 16px;
                padding-bottom: 16px;
            }

            &-title {
                font-weight: 400;
                font-size: 16px;
            }

            &-description {
                width: 346px;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                margin-top: 10px;
            }

            span {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }

            button {
                background-color: $blue;
                height: 46px;
                width: 258px;
                border: none;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                margin-top: 25px;
            }
        }
    }
}

.main__weWorks {
    height: 686px;
    margin-left: 160px;
    color: #FFFFFF;

    &-content {
        display: flex;
        margin-left: -31px;
    }

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    &-section {
        height: 394px;
        width: 353px;
        background-color: #043C77;
        margin-top: 48px;
        margin-left: 31px;
    }

    &-sectionTopBlock {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    &-sectionBottomBlock {
        width: 283px;
        margin-left: 30px;
        margin-top: 30px;

        p {
            font-weight: 500;
            font-size: 21px;
            line-height: 26px;
        }

        span {
            font-weight: 400;
            font-size: 16px;
        }

        p:nth-child(3) {
            font-size: 12px;
            line-height: 16.8px;
        }
    }
}

.main__serviceBenefits {
    height: 550px;
    background-color: #F9F9F9;

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-left: 159px;
        padding-top: 80px;
    }

    &-cards {
        margin-left: 159px;
        margin-top: 48px;
        display: grid;
        grid-template-columns: 353px 353px 353px;
        row-gap: 30px;
        column-gap: 30px;
    }

    &-card {
        height: 138px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        display: flex;

        img {
            height: 48px;
        }

        p {
            width: 246px;
        }

        p:first-child {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
        }

        div {
            margin-left: 25px;
            margin-top: -15px;
        }
    }
}

.main__certificates {
    height: 649px;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-left: 159px;
        padding-top: 100px;
    }

    &-arrows {
        display: flex;
        margin-left: 1135px;

        img {
            margin-left: 15px;
            margin-top: -70px;
        }
    }

    &-cards {
        display: flex;
        margin-left: 128px;
        margin-top: 48px;
    }

    &-certificate {
        width: 257px;
        height: 357px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        margin-left: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main__partners {

    height: 478px;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-left: 160px;
        padding-top: 100px;
    }

    &-logo {
        margin-left: 45px;

        img {
            margin-left: 115px;
        }

        div {
            border-bottom: 1px solid #E7E7E7;
            width: 1129px;
            margin-left: 115px;
            margin-top: 56px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: center;
        margin-top: 46px;

        button {
            height: 4px;
            width: 4px;
            background-color: #D5D5D5;
            border-radius: 50%;
            border: none;
            padding: 0px;
            margin-left: 46px;
        }

        button:first-child {
            background-color: $blue;
            height: 8px;
            width: 8px;
        }
    }
}

.main__reviews {
    height: 722px;
    background-color: #F9F9F9;

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-left: 159px;
        padding-top: 86px;
    }

    &-cards {
        display: flex;
        margin-left: 130px;
    }

    &-card {
        height: 368px;
        width: 545px;
        background-color: #FFFFFF;
        margin-left: 30px;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;

        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            color: #565656;
            width: 246px;

        }

        p:first-child {
            font-size: 15px;
            font-weight: 600;
            line-height: 18px;
            color: black;
            margin: 0px;
        }

        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            width: 465px;
            margin-top: 40px;
            display: block;
        }

        div {
            a {
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                text-decoration: none;
                color: $blue;
                display: inline-block;
                margin-top: 40px;
            }
        }
    }

    &-cardLink {
        display: inline-block;
        margin-top: 37px;
    }

    &-readAll {
        display: flex;
        justify-content: center;
        margin-top: 44px;

        button {
            background-color: $blue;
            color: #FFFFFF;
            height: 46px;
            width: 258px;
            border: none;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.main__questions {
    height: 383px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #043C77;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    .main__questions-inputs {
        margin-top: 30px;
        width: 1000px;
    }

    div {
        width: 555px;
        font-size: 13px;
        text-align: center;
    }

    input {
        width: 272px;
        height: 42px;
        text-indent: 12px;
        margin-left: 30px;
    }

    button {
        background-color: $blue;
        color: #FFFFFF;
        height: 46px;
        width: 258px;
        border: none;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        margin-left: 30px;
    }

    span {
        width: 1000px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-top: 15px;

        a {
            color: #FFFFFF;
        }
    }
}

.footer {
    height: 308px;

    &__topBlock {
        height: 280px;
        display: flex;
        background-color: #F9F9F9;

        &-logo {
            margin-left: 160px;
            padding-top: 50px;

            div {
                margin-top: 20px;
                color: gray;
            }
        }

        &-nav {
            display: flex;
            margin-left: 150px;
            margin-top: 55px;
        }

        &-navBlock {
            margin-left: 100px;

            a {
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                text-decoration: none;
                color: black;
            }

        }

        &-contacts {
            margin-left: 200px;
            margin-top: 55px;

            div {
                color: $blue;
                font-size: 20px;
                font-weight: 700;
            }

            div:first-child {
                font-size: 15px;
                line-height: 18px;
                padding-left: 60px;
                color: black;
            }
        }
    }

    &__bottomBlock {
        height: 80px;

        display: flex;
        align-items: center;

        div {
            margin-left: 160px;
        }
    }
}